.background{
    margin-top: 30px;
    background-color:ivory;
    width: 100%;
    height: 800px;
}
.card_img{
    display: flex;
}

@media only screen and (max-width: 600px){
    .background{
        height: 2000px;
        background-color:ivory;
    }
}